body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}

.navigation {
  background-color: tomato;
  padding: 10px 20px;
  text-transform: uppercase;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
}

.sticky-header .navigation {
  position: fixed;
  top: 0;
  width: 100%;
}
